<div class="product-container">
    <h2 class="text-center my-4">Product Catalog</h2>

    <div class="row product-grid">
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" ng-repeat="product in vm.products">
            <div class="product-card card">
               
                <img class="product-image card-img-top" ng-src="{{ product.imgSrc }}" alt="{{ product.name }}">

                <div class="product-card-body card-body">
                    <h5 class="product-title card-title">{{ product.name }}</h5>
                    <p class="product-price card-text">Price: ₹{{ product.price }}</p>

                    
                    <div class="product-quantity-control d-flex justify-content-between align-items-center">
                        <button class="btn btn-sm btn-secondary product-quantity-btn"
                            ng-click="vm.updateDisplayedQuantity(product, -1)">
                            <i class="fa fa-minus"></i>
                        </button>
                        <span class="product-quantity">{{ vm.selectedQuantities[product.id] || 0 }}</span>
                        <button class="btn btn-outline-primary btn-sm d-flex align-items-center justify-content-center gap-1"
                        ng-click="vm.updateDisplayedQuantity(product, 1)">
                    <i class="fa fa-plus"></i> <span>add</span>
                </button>
                
                    </div>

                    
                    <button class="btn btn-primary w-100 d-flex justify-content-between align-items-center px-3 py-2 mt-3"
                    ng-click="vm.addToCart(product)">
                <span>Add to Cart</span> 
                <i class="fa fa-cart-plus"></i>
            </button>
            

                </div>
            </div>
        </div>
    </div>
</div>
